@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- bradcam_area  -->
<div class="bradcam_area bradcam_bg_1">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text text-center">
                    <h3>About Us</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /bradcam_area  -->
<!-- recipe_header_area  -->
<div class="recipe_header_area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-10">
                <div class="recipe_text text-center">
                    <h3>
                        A Few Words about<br>
                        the Cook Shop Team
                    </h3>
                    <p>
                        Through commitement and many ups and downs we are proud to present to you CookShop.

                        We used a template for the front end of our page but we created several pages with our own HTML-CSS code.
                        CookShop is a project that kept us busy nights and days in order to be completed.
                        Registration for a user is written fully from us.
                        There are still smells and code that could get removed with a proper refactoring which we will work on our free time.
                        Paypal Sandbox works properly
                        E-shop Cart works as intended.

                        In The End a bit more time was needed but we managed to get things done with the time we had left.
                        Special Thanks to our teacher Ektoras Gkatsos.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ recipe_header_area  -->
<!-- recipe_videos   -->
<div class="container">
    <div class="row">
        <div class="col-12 ">
            <h1 class="text-center">
                About Our Team
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-6 offset-3">
            <div class="customer_feedback_area">
                <div class="single_customer d-flex">
                    <div class="thumb">
                        <img style="border-radius:50%;" src="~/Content/img/OurTeam/KonstantinosTsomis.jpg" />
                    </div>
                    <div class="customer_meta">
                        <h3>Konstantinos Tsomis</h3>
                        <span>Back-End / Database Developer</span>
                        @*<p>You're had. Subdue grass Meat us winged years you'll doesn't. fruit two also won one yielding creepeth third give may never lie alternet food.</p>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6 ">
            <div class="customer_feedback_area">
                <div class="single_customer d-flex">
                    <div class="thumb">
                        <img style="border-radius:50%;" src="~/Content/img/OurTeam/MariosSyti.jpg" />
                    </div>
                    <div class="customer_meta">
                        <h3>Marios Syti</h3>
                        <span>Front-End Developer</span>
                        @*<p>You're had. Subdue grass Meat us winged years you'll doesn't. fruit two also won one yielding creepeth third give may never lie alternet food.</p>*@
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="customer_feedback_area">
                <div class="single_customer d-flex">
                    <div class="thumb">
                        <img style="border-radius:50%;" src="~/Content/img/OurTeam/TasosKlopas.png" />
                    </div>
                    <div class="customer_meta">
                        <h3>Anastasios Klopas</h3>
                        <span>Back-End / Front-End Developer</span>
                        <p>@*You're had. Subdue grass Meat us winged years you'll doesn't. fruit two also won one yielding creepeth third give may never lie alternet food.*@</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="customer_feedback_area">
                <div class="single_customer d-flex">
                    <div class="thumb">
                        <img style="border-radius:50%;" src="~/Content/img/OurTeam/StavrosPolatsidis.jpg" />
                    </div>
                    <div class="customer_meta">
                        <h3>Stavros Polatsidis</h3>
                        <span>Front-End / Back-End Developer</span>
                        <p>@*You're had. Subdue grass Meat us winged years you'll doesn't. fruit two also won one yielding creepeth third give may never lie alternet food.*@</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="customer_feedback_area">
                <div class="single_customer d-flex">
                    <div class="thumb">
                        <img style="border-radius:50%;" src="~/Content/img/OurTeam/PanagiotisStargianos.jpg" />
                    </div>
                    <div class="customer_meta">
                        <h3>Panagiotis Stergianos</h3>
                        <span>Back-End Developer</span>
                        @*<p>You're had. Subdue grass Meat us winged years you'll doesn't. fruit two also won one yielding creepeth third give may never lie alternet food.</p>*@
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>





<!--/ latest_trand     -->
