
@{
    ViewBag.Title = "TermsOfService";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="slider_area">
    <div class="bradcam_area latest_trand_area">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-xl-8 ">
                    <div class="slider_text text-center">
                        <div class="text">
                            <h3 style="color:black">Terms Of Service</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-8 offset-2">
            <div>
                <br />
                Last updated: 15/01/2021
                <br /><br />
                Please read these Terms of Service carefully before using the http://www.cookshoponline.com website operated by Cook Shop S.A.
                <br /><br />
                Your access to and use of our Service is conditioned on your acceptance of and compliance with these Terms. These Terms apply to all visitors, users and others who access or use our Service.
            </div>
            <br />
            <strong>
                By accessing or using the Service you agree to be bound by these Terms. If you disagree with any part of the terms then you may not access the Service.
            </strong>
            <br /><br />
            <h3><strong>Termination</strong></h3>
            <div>
                We may terminate or suspend access to our Service immediately, without prior notice or liability, for any reason whatsoever, including without limitation if you breach the Terms.

                All provisions of the Terms which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.

            </div>
            <br />
            <h3><strong>Subscriptions</strong></h3>
            <div>
                Some parts of the Service are billed on a subscription basis. You will be billed in advance on a recurring basis, but there will not be any hidden or automated charges.
            </div>
            <br />
            <h3><strong>Content</strong></h3>
            <div>
                Our Service allows you to post, link, store, share and otherwise make available certain information, text, videos, or other content. You will be held responsible for sharing of any paid services with unauthorized users and a legal process will follow.
            </div>
            <br />
            <h3><strong>Changes</strong></h3>
            <div>
                We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a revision is material we will try to provide at least 30 days' notice prior to any new terms taking effect. What constitutes a material change will be determined at our sole discretion.
            </div>
            <br />
            <h3><strong>Contact Us</strong></h3>
            <div>
                If you have any questions about these Terms, please <span style="text-decoration:underline;">@Html.ActionLink("contact us", "Contact", "Home").</span>
            </div>
            <br />
        </div>
    </div>
</div>