<footer class="footer">
    <div class="footer_top">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <div class="footer_widget" style="text-align:center;">
                        <div class="social_links">
                            <h3 class="footer_title">
                                Our Soscial Links
                            </h3>
                            <div class="container">
                                <div class="row">
                                    <div class="col-6">
                                        <ul>
                                            <li>
                                                <a href="#">
                                                    <span>Facebook <i class="ti-facebook"></i></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span>Twitter  <i class="ti-twitter-alt"></i></span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-6">
                                        <ul>
                                            <li>
                                                <a href="#">
                                                    <span>Instagram  <i class="fa fa-instagram"></i></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span>Snapchat <i class="fa fa-snapchat"></i></span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>                            
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="footer_widget" style="text-align:center;">
                        <h3 class="footer_title">
                            Features
                        </h3>
                        <div class="container">
                            <div class="row">
                                <div class="col-6">
                                    <ul>
                                        <li>@Html.ActionLink("About Us", "About", "Home")</li>
                                        <li>@Html.ActionLink("Terms of Service", "TermsOfService", "Home")</li>
                                    </ul>
                                </div>
                                <div class="col-6">
                                    <ul>
                                        <li>@Html.ActionLink("Contact Us", "Contact", "Home")</li>
                                        <li>@Html.ActionLink("Live Chat", "Chat", "Chat")</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<!--/ footer  -->
<!-- JS here -->
<script src=@Url.Content("~/Content/js/vendor/modernizr-3.5.0.min.js")></script>
<script src=@Url.Content("~/Content/js/vendor/jquery-1.12.4.min.js")></script>
<script src=@Url.Content("~/Content/js/popper.min.js")></script>
<script src=@Url.Content("~/Content/js/bootstrap.min.js")></script>
<script src=@Url.Content("~/Content/js/owl.carousel.min.js")></script>
<script src=@Url.Content("~/Content/js/isotope.pkgd.min.js")></script>
<script src=@Url.Content("~/Content/js/ajax-form.js")></script>
<script src=@Url.Content("~/Content/js/waypoints.min.js")></script>
<script src=@Url.Content("~/Content/js/jquery.counterup.min.js")></script>
<script src=@Url.Content("~/Content/js/imagesloaded.pkgd.min.js")></script>
<script src=@Url.Content("~/Content/js/scrollIt.js")></script>
<script src=@Url.Content("~/Content/js/jquery.scrollUp.min.js")></script>
<script src=@Url.Content("~/Content/js/wow.min.js")></script>
<script src=@Url.Content("~/Content/js/nice-select.min.js")></script>
<script src=@Url.Content("~/Content/js/jquery.slicknav.min.js")></script>
<script src=@Url.Content("~/Content/js/jquery.magnific-popup.min.js")></script>
<script src=@Url.Content("~/Content/js/plugins.js")></script>
<script src=@Url.Content("~/Content/js/gijgo.min.js")></script>

<!--contact js-->
<script src=@Url.Content("~/Content/js/contact.js")></script>
<script src=@Url.Content("~/Content/js/jquery.ajaxchimp.min.js")></script>
<script src=@Url.Content("~/Content/js/jquery.form.js")></script>
<script src=@Url.Content("~/Content/js/jquery.validate.min.js")></script>
<script src=@Url.Content("~/Content/js/mail-script.js")></script>

<script src=@Url.Content("~/Content/js/main.js")></script>